@import "_vars";
@import "modules/_header";
@import "modules/_splash";
@import "modules/_about";
@import "modules/_video";
@import "modules/_portfolio";
@import "modules/_footer";
@import "modules/_contact";
@import "modules/_organs";
@import "modules/_holo";
@import "modules/_thermo";
@import "modules/_arbora";
@import "modules/_error";


body, h1, h2, h3, h4 {
    font-family: 'News Cycle', sans-serif;
}

h2 {
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
  }