<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/gif" href="images/favicon.gif"/>
    <title>Courtney Topping</title>

    <link rel="stylesheet" href="css/foundation.css">
    <link rel='stylesheet' href='/css/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=News+Cycle&display=swap" rel="stylesheet">
  </head>
  <body>
<div class="grid-container" id="errorsFull">
<div class="large-12 columns">
{{body}}
</div>
</div>
  </body>
  </html>