body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#promoSection {
  background: url(../images/splashLarge.jpg) no-repeat center;
  background-size: 110%;
  height: 40vh;
  text-align: center;
  color: $blue-color;
}