#mainHeader {
    background-color: white;
    margin-bottom: -8px;
}

#logo {
    text-align: center;
    width: 5%;
    padding: 1%;
}


#mainNav {
    list-style-type: none;
    text-align: right;
    float: right;
    padding: 3% 1% 1% 1%;
}

#mainNav li {
    border-bottom: none;
    display: inline;
    padding: 20px;
    font-size: 1em;
}

#mainNav li a {
	padding: 5px 0 5px 0;
    color: $main-blue;
    font-family: 'Sintony', sans-serif;
}

#mainNav li a:hover {
	color: $orange-color;
}

.socials {
    width: 10%;
    margin-left: 20px;
    margin-top: 30px;
  }


@media screen and (min-width: 48em) /*Tablet Size*/ {
    #logoImg {
        width: 10%;
    }
}

@media screen and (min-width: 64em) /*Laptop Small Size*/ {
    #logo {
        width: 25%;
    }
}


@media screen and (min-width: 90em) /*Large Laptop Size*/ {
    #logo {
        text-align: left;
        width: 20%;
        padding-left: 5%;
    }
}