.infoText {
    margin:20px;
}



#portfolioPages {
    margin-top: -20px;
}

#promoImage {
    background-color: $main-blue;
    margin-top: 20px;
}
.titleProject {
    background-color: $main-blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titleProject img {
    max-width: 50%;
}

.infoText h3 {
    background-color: $light-blue;
    padding: 10px;
    color: white;
}

.infoText h4 {
    color: $main-blue;
}