#section3 {
    background: url(../images/projectLarge.jpg) repeat;
    background-position: center top;
    background-size: 100%;
}

.user-panel-heading {
    text-align: center;
}

.team { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .user-panel {
        flex: 0 1 400px;
        text-align: center;
        padding: 8px;}
        

        .u-avatar { max-width: 400px; }

        .u-link { 
            display: block; 
            //width: 150px;  
            text-decoration: none;
            margin: 0 auto;
            background-color: $light-blue;
            padding: 5px;
            color: white;
        }

        h1, h3 { margin: 5px 0; }
    }

.user-panel {
    background-color: white;
    margin: 10px;
}

.u-image:hover {
    opacity: 50%;
}


@media screen and (min-width: 1080px) {
    .team {
        .user-panel { 
            flex: 3 3;

            .u-avatar { max-width: 600px; }
        }
    }
}

@media screen and (min-width: 3000px) {
    .team {
        .user-panel { 
            flex: 3 3;

            .u-avatar { max-width: 800px; }
        }
    }
}


.lightbox { 
    display: none;
    //display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    padding: 10px;
    background: url(../images/lightbox.jpg) no-repeat;
    overflow: scroll;
    align-items: center;
}
    .sidebar {
        width: 50vw;
        height: 50vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    .lb-content {
       clear:both;
        flex: 3;
        //color: black;
        width: 100vw;
        height: 65vh; 
        flex-direction: row;
        align-items: center;
        background-color: white;
        overflow-y: scroll;
        padding: 8px;
        margin-left: 10px;
    }

    .lb-content p {
        margin-top: 30px;
    }

    img { 
        width: 100%;
    }

    .close {    
        right: 24px;
        top: 20px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        border: thin solid $main-blue;
        padding: 2px 20px 10px;
        border-radius: 50%;
        background-color: white;
    }

.close:hover {
    background-color: $light-blue;
}

.show-lb { display: flex !important; }


.desc {
   display: none;
}

.user-panel:hover .desc {
    display: contents;
    color: $main-blue;

}
